* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    border: 1px solid black;
    width: 1000px;
    height: 2000px;
}

.header {
    border: 1px solid black;
    padding: 5px;
    position: fixed;
    width: 1000px;
    display: flex;
    background-color: rgb(145, 177, 177);
    z-index: 999;
}

.logo {
    width: 20px;
    margin-right: 50px;
}

input {
    width: 350px;

}

.find {
    width: 12px;
    height: 12px;
    margin-right: 50px;
    position: absolute;
    left: 410px;
    top: 8px;
}

.face {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 280px;
}

span {
    position: absolute;
    right: 150px;
}

.button {
    margin-right: 2px;
    position: absolute;
    right: 0;
}

button {
    background-color: wheat
}

.tabbar {
    margin-top: 32px;
    background-color: silver;
    height: 2000px;
    width: 150px;
    position: fixed;
    z-index: 888;
}

ul {
    padding: 5px;
    list-style: none;
}

li {
    padding: 5px;
    width: 100px;
    border: 1px solid;
    margin: 1px;
    border-radius: 4px;

}

a {
    text-decoration: none;
}

.menu__one {
    margin-top: 40px;
    width: 100px;
    position: relative;
}

.menu__two {
    width: 100px;
    position: relative;
}

.one {
    visibility: hidden;
    position: absolute;
    left: 96px;
    top: 0px;
}

li:hover ul {
    visibility: visible;
}

li:hover {
    background-color: aliceblue;
    border-radius: 4px;
}

.containner {
    border: none;
    width: 850px;
    height: 1000px;
    float: right;
    background-color: rgb(177, 230, 230);
    position: relative;
}

.sectionone {
    border: none;
    width: 540px;
    height: 1000px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectiontwo {
    border: none;
    width: 300px;
    height: 1000px;
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.satus {
    border: 1px solid;
    width: 480px;
    height: 100px;
    margin-top: 50px;
    top: 50px;
    margin-bottom: 15px;
}

.information {
    border: 1px solid;
    width: 480px;
    height: 200px;
    margin-bottom: 15px;
}

.stories {
    border: 1px solid;
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 15px;

}

.product {
    border: 1px solid;
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
}